.table-01 {
    border-color: #CCCCCC;
    border-style: dotted;
    border-width: 1px 0 0 1px;
    margin: 5px;
}

.table-01 td {
    border-color: #CCCCCC;
    border-style: dotted;
    border-width: 0 1px 1px 0;
    margin: 0;
    padding: 2px;
}